# IDE
.idea/
.vs/
.vsc/
*.code-workspace

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry
packs/*/LOCK
packs/*/LOG
packs/*/LOG.old
packs/*/*.log
packs/*/MANIFEST-*
packs/*/CURRENT
packs/*/*.ldb

# Boilerplate
build/

helpful reminders.txt
screenshots/
