.goal-pip {
	margin-left: 3%;
	min-width: fit-content;
	align-content: flex-end;
	&:hover,
	&:focus {
		color: #000;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

.goal-item {
	margin-right: 15%;
	margin-left: 5%;
}

.goal-input {
	max-width: 50%;
	margin: auto;
}

.goal-remove {
	margin: auto;
	margin-right: 3px;
	max-width: fit-content;
}
