.skill-pip {
	margin-left: 3%;
	min-width: fit-content;
	&:hover,
	&:focus {
		color: var(--crpgu-primary-font);
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

.skill-column-header {
	font-weight: bold;
	font-size: large;
	padding: 3px 45% 3px 45%;
	border: 2px solid var(--crpgu-secondary-bg);
	background-color: var(--crpgu-primary-bg);
	color: var(--crpgu-secondary-font);
}

.skills-list {
	padding: 5%;
	width: 95%;
	border: 2px ridge var(--crpgu-secondary-bg);
	background-color: var(--crpgu-primary-bg);
	color: var(--crpgu-secondary-font);
}
