.skill-pip {
	margin-left: 3%;
	min-width: fit-content;
	&:hover,
	&:focus {
		color: $c-darkish;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

.skill-column-header {
	font-weight: bold;
	font-size: large;
	padding: 3px 45% 3px 45%;
	border: 2px solid $c-black;
	background-color: $c-darkish;
	color: $c-faint;
}

.skills-list {
	padding: 5%;
	width: 95%;
	border: 2px ridge $c-black;
	background-color: $c-darkish;
	color: $c-faint;
}
