<form class="sheet-full flexcol" autocomplete="off">
	<section class="grid grid-5col">
		<aside class="sidebar">
			{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-core.hbs"}}
		</aside>

		<section class="main grid-span-4">
			{{> "systems/cosmere-rpg-unofficial/templates/actor/header.hbs"}}
			{{> "templates/generic/tab-navigation.hbs"}}
		</section>
	</section>
</form>
