<section>
	<prose-mirror name="system.description.value" data-document-u-u-i-d="{{@root.actor.uuid}}"
		value="{{@root.description.value}}" toggled="true" collaborate="true">
		{{{@root.enrichedBiography}}}
	</prose-mirror>
</section>
