<ol class="items-list effects-list">
	{{#each system.effects as |effects id|}}
		<li class='item flexrow' data-item-id='{{item._id}}'>

		</li>
	{{/each}}
</ol>
<select name='effectCreateType' class='effect-create-select'>
	<option value="placeholder" {{isSelected 'placeholder' system.damage.die}}>Placeholder</option>
	<option value="modifier" {{isSelected 'modifier' system.damage.die}}>Modifier</option>
</select>
<span class="hoverable flexcol flex-group-right" style="width:100%;" data-effect-type="{{effectCreateType}}">
	<a class='effect-create' title='Add Effect'>
		<i class='fas fa-plus'></i>
		Add Effect
	</a>
</span>
