.rollable {
	&:hover,
	&:focus {
		color: var(--crpgu-primary-font);
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

.hoverable {
	&:hover,
	&:focus {
		color: var(--crpgu-primary-font);
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}
